.container {
  width: 75%;
}

img {
  width: 175px;
  float: left;
  margin-left: 40px;
}
img.nf {
  border: none;
}
img.hb,
img.hu,
img.pr {
  height: 80px;
  padding: 0 10px;
  border: 1px solid #000;
}

.header {
  text-transform: uppercase;
  margin-left: 40px;
  font-weight: 400;
  padding-bottom: 20px;
}

div h3 {
  width: 350px;
  float: none;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
}
div h3 span {
  color: rgb(28, 59, 85);
  font-weight: bold;
  margin-left: 10px;
}
